<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%-appTitle %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <ul class="nav">
      <li>
        <a
          href="/
         "
          >Home</a
        >
      </li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/see-all-pizzas">See all 🍕</a></li>
      <li><a href="/register-pizza">Register 🍕</a></li>

      <li><a href="/profile">Profile</a></li>
      <%-currentUser.name%>
    </ul>
    <%-body%>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"
      integrity="sha512-yAr4fN9WZH6hESbOwoFZGtSgOP+LSZbs/JeoDr02pOX4yUFfI++qC9YwIQXIGffhnzliykJtdWTV/v3PxSz8aw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="/js/script.js"></script>
  </body>
</html>
