<h1>Sign Up</h1>
<form method="POST" action="/auth/signup">
  <label>Name: <input type="text" name="name" required /></label>
  <label>E-mail:<input type="text" name="email" required /></label>
  <label>Password:<input type="password" name="password" required /></label>
  <button type="submit">Register</button>
  <img src="" alt="" />
  <% if (typeof errorMessage !== 'undefined') { %>
  <p><%= errorMessage %></p>
  <% } %>
</form>
