body {
  padding: 50px;
  font-family: "Space Mono", monospace;
  background-color: #fcefca;
  color: #650001;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  color: #650001;
  text-align: center;
  font-weight: 500;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.couldBe {
  width: 25em;
}
#pizzaAnimation {
  width: 18em;
}

a {
  text-decoration: none;

  color: #650001;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: 15px;
}
.authBtn {
  background-color: #ff931e;
  color: #650001;
  font-weight: bold;
  width: 10em;
  height: 2em;
  border: none;
  margin-bottom: 5px;
  border-radius: 2rem;
  font-family: "Space Mono", monospace;
  font-size: 2vh;
}
.authBtn:hover:not(:disabled) {
  background: #650001;
  color: white;
}
.miniPizza {
  max-width: 4em;
}
.register {
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
}
.registerForm {
  display: flex;
  flex-direction: row;

  align-content: flex-start;
}
.registerOne,
.registerTwo,
.registerThree {
  padding: 50px;
}
.formReview {
  border-radius: 10px;
  border-color: #f3f3f3;
}
.registerTwo {
  display: flex;
  flex-direction: column;
}
.moreIngredient {
  max-height: 2vh;
}
.ingredientsBtn {
  display: flex;
  flex-direction: row;
}
#ingredients {
  display: flex;
  flex-direction: column;
}
