* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fcefca;
  color: #650001;
}
/* Navegation menu */
li {
  list-style-type: none;
}
.containerNav {
  margin: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 147, 30, 0.2);
  box-shadow: 6px 6px 12px rgb(197, 197, 197, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.2);
}
.logoNav {
  width: 18vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}
.linkNav {
  padding: 20px;
}

.menu {
  padding-right: 50px;
  display: flex;

  align-items: center;

  justify-items: flex-end;
}
.menu > a {
  padding: 20px 20px;
}
.containerIndex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Space Mono", monospace;
  color: #650001;
  text-align: center;
  font-weight: 500;
  padding-top: 100px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Logo */
.couldBe {
  width: 25em;
}
#pizzaAnimation {
  width: 18em;
}
/* Links */
a {
  text-decoration: none;

  color: #650001;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.title {
  font-family: "Space Mono", monospace;
}
h1 {
  color: 15px;
}
/* Btn Index */
.btnLogin {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.authBtn {
  background-color: #ff931e;
  color: #650001;
  font-weight: bold;
  width: 10em;
  height: 2em;
  border: none;
  margin-bottom: 5px;
  border-radius: 2rem;
  font-family: "Space Mono", monospace;
  font-size: 2vh;
  margin-bottom: 10px;
}
.authBtn:hover:not(:disabled),
.updateBtn:hover:not(:disabled),
.plusBtn:hover:not(:disabled) {
  background: #650001;
  color: white;
}
.miniPizza {
  max-width: 4em;
  padding-left: 20px;
}
.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5em;
}
.registerForm {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-content: flex-start;
}
.registerOne,
.registerTwo,
.registerThree {
  padding: 50px;
  background-color: rgb(255, 147, 30, 0.2);
  box-shadow: 6px 6px 12px rgb(197, 197, 197, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  margin: 20px;
}

.registerTwo {
  display: flex;
  flex-direction: column;
}

.moreIngredient {
  max-height: 2vh;
}
.ingredientsBtn {
  display: flex;
  flex-direction: row;
}
#ingredients {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5em;
  font-family: "Space Mono", monospace;
}
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  background-color: rgb(255, 147, 30, 0.2);
  box-shadow: 6px 6px 12px rgb(197, 197, 197, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  padding: 50px;
}
/* Forms login/Signup*/
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px;
  margin-top: 20px;
}
.signUp {
  padding-top: 120px;
}
/* Button of Login/Signup page, cards */
.formLogin > .authBtn {
  margin: 20px;
}
/* See all pizzas page*/
.allpizzas {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.center-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCard {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pizzasCard {
  padding: 20px;
  margin: 20px;
  background-color: rgb(255, 147, 30, 0.2);
  box-shadow: 6px 6px 12px rgb(197, 197, 197, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.2);
  border-radius: 1em;
}
/* Register Pizza Form*/
.inputImagePlace {
  border: 5px;
  border-color: #f3f3f3;
  cursor: pointer;
}
.custom-file-upload {
  border: 1px dashed #650001;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.inputImage {
  display: none;
}
label {
  padding: 5px;
}
input[type="text"] {
  padding: 5px;
  border: 2px solid rgb(255, 147, 30, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type="password"] {
  padding: 5px;
  border: 2px solid rgb(255, 147, 30, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #650001;
}

.formReview {
  padding: 5px;
  border: 2px solid rgb(255, 147, 30, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.plusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff931e;
  color: #650001;
  font-weight: bold;
  width: 2rem;
  height: 5rem;
  border: none;
  border-radius: 3rem;
  font-family: "Space Mono", monospace;
  font-size: 2vh;
  margin-left: 10px;
  padding: 15px 0;
}
.btnSubmit {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
/* Cards */
.updateBtn {
  background-color: #ff931e;
  color: #650001;
  font-weight: bold;
  padding: 0 1em;
  max-height: 3em;
  border: none;
  margin-bottom: 5px;
  border-radius: 2rem;
  font-family: "Space Mono", monospace;
  font-size: 1.8vh;
  margin-bottom: 10px;
}
